.Contact {
    width: 100vw;
    height: 100vh;
    color: var(--textColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 40;
}

.Contact__Intro {
    padding: 0 6rem;
}

.Contact__Text {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.Contact__Text p,
.Contact__Name,
.Contact__Role {
    margin: 0;
}

.Contact__Name,
.Contact__Role {
    font-size: 400%;
    font-weight: bold;
    text-shadow: 3px 3px var(--mainColorDark);
    color: var(--textColorBlue);
}

.Contact__Icons {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    font-size: xx-large;
    margin-top: 2rem;
}

.Contact__Icon {
    transition: 0.3s;
    cursor: pointer;
}

.Contact__Icon:hover {
    transform: scale(1.2);
}

.Contact__Resume {
    font-family: 'Poppins', sans-serif;
    border: 3px solid var(--textColorBlue);
    color: var(--textColor);
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
    margin-top: 2rem;
    transition: 0.5s;
}

.Contact__Resume:hover {
    color: var(--GrayDark);
    background-color: var(--textColorBlue);
}

.Contact__Log {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: fit-content;
}

.Contact__Btn__Log {
    font-family: 'Poppins', sans-serif;
    border: 3px solid var(--textColorBlue);
    color: var(--textColor);
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
    transition: 0.5s;
}

.Contact__Btn__Log:hover {
    color: var(--GrayDark);
    background-color: var(--textColorBlue);
}

.Conact__Icon {
    vertical-align: -2px;
}

@media only screen and (max-width: 1024px) {


    .Contact__Intro {
        padding: 0 2rem;
    }

    .Contact__Name,
    .Contact__Role {
        font-size: 200%;
    }
}