.Project {
    overflow: hidden;
    background-color: var(--black);
    padding: 6rem;
}

.Project__Title {
    color: var(--textColorBlue);
    font-size: 300%;
}

.Project__Cards__Div {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2rem;
    width: calc(100vw - 12rem - 2rem);
    color: var(--textColorBlue);
}

.Project__Card {
    text-align: center;
    border: 2px solid var(--textColorBlue);
    background-color: rgba(102, 252, 242, 0.804);
    border-radius: 10px;
    transition: 0.5s;
    padding: 1rem;
    min-height: 35vh;
    cursor: default;
}

.Project__Card:hover {
    transform: scale(1.1);
}

.Card__Content {
    color: var(--GrayDark);
}

.Project__Content {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
    width: calc(100vw - 12rem - 2rem);
    color: var(--textColorBlue);
}

.Project1 {
    height: 30vw;
    border: 2px solid var(--textColorBlue);
    overflow: hidden;
    position: relative;
}

.Project1:hover>.Project__Img {
    transform: scale(1.1);
}

.Project__Img {
    filter: brightness(30%);
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
    position: relative;
    z-index: 50;
}

span.blue-overlay {
    background: #66fcf219;
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 60;
}

.Project1:hover>.blue-overlay {
    display: block;
}

.Project__Info {
    position: absolute;
    z-index: 70;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.Project__Info__Title {
    margin: 0;
}

.Project__Caption {
    color: var(--textColor);
}

.Project__Techs {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
}

.Techs {
    padding: 0 5px;
    border-radius: 3px;
    background-color: var(--textColorBlue);
    color: var(--GrayDark);
    font-size: 70%;
    font-weight: bold;
}

.Project__Buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    row-gap: 1rem;
    column-gap: 1rem;
}

.Project__Btn {
    border: 2px solid var(--textColorBlue);
    background-color: transparent;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: var(--textColorBlue);
    transition: 0.5s;
    cursor: pointer;
    font-weight: bold;
}

.git {
    vertical-align: -2px;
}

.Project__Btn:hover {
    color: var(--GrayDark);
    background-color: var(--textColorBlue);
}

.Project__Info__Title,
.Project__Caption,
.Project__Techs,
.Project__Buttons {
    padding: 0 10px;
}

@media only screen and (max-width: 1024px) {

    .Project {
        padding: 4rem 2rem;
    }

    .Project__Content, .Project__Cards__Div {
        grid-template-columns: auto;
        width: calc(100vw - 4rem);
    }

    .Project1 {
        height: calc(100vw - 4rem);
    }

    .Project__Card {
        min-height: initial;
        padding: 0.5rem;
    }

    .Project__Title {
        font-size: 200%;
    }
}